@media screen and (max-width: 500px) {
  body {
    grid-template-areas: inherit;
  }
}
html {
  display: flex;
  justify-content: center;
}

/*set body settings*/
*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
}

body {
  background-color: rgb(147, 157, 157);
}

.calculator-grid {
  display: grid;
  position: inherit;
  height: 85vh;
  width: 70vh;
  margin: 50px 450px;
  place-content: center;
  grid-template-columns: 1.5fr repeat(3, 2fr) 1.5fr;
  grid-template-rows: repeat(7, 1.5fr);
  grid-gap: 0;
  grid-template-areas: "info title title title setting" "light result result result back" "timer clear clear clear divide" "powDown seven eight nine dubble" "uploud four five six minus" "empty one two three plus" "empty_2 plusMinus zero point equal";
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 1.5rem;
  border: 2px solid white;
  outline: none;
}

/*images*/
.img {
  width: 25px;
  height: 25px;
}

/*light mood*/
.light_mood {
  background-color: rgb(14, 81, 81);
}
.light_mood .operation {
  background-color: rgba(200, 200, 200, 0.9);
}
.light_mood .num {
  background-color: rgba(247, 247, 247, 0.75);
}
.light_mood .dark_side {
  background-color: yellow;
}

/*dark mood*/
.dark_mood {
  background-color: rgb(14, 81, 81);
}
.dark_mood .op_mood {
  background-color: gray;
}
.dark_mood .num_mood {
  background-color: rgb(230, 230, 22);
}
.dark_mood .dark_mood {
  background-color: rgb(82, 78, 78);
}

.num {
  background-color: rgba(247, 247, 247, 0.75);
}

/*hover thing*/
.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

/*Definde grid-area*/
.info {
  grid-area: info;
}

.title {
  grid-area: title;
}

.setting {
  grid-area: setting;
}

.light {
  grid-area: light;
}

.result {
  grid-area: result;
  /* background-color: ; */
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(147, 157, 157);
  /*align-items: center;*/
  /*word-wrap: break-word;*/
  /*word-break: break-all;*/
}

/* .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}
.current-operand {
  color: white;
  font-size: 2.5rem;
} */
.back {
  grid-area: back;
}

.timer {
  grid-area: timer;
}

.clear {
  grid-area: clear;
}

.divide {
  grid-area: divide;
}

.powDown {
  grid-area: powDown;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.dubble {
  grid-area: dubble;
}

.uploud {
  grid-area: uploud;
}

.path {
  width: 17px;
  height: 17px;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.minus {
  grid-area: minus;
}

.empty {
  grid-area: empty;
}

.dark {
  background: linear-gradient(to right, rgba(64, 24, 68, 0.74), rgba(67, 20, 72, 0.74));
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.plus {
  grid-area: plus;
}

.empty_2 {
  grid-area: empty_2;
}

.plusMinus {
  grid-area: plusMinus;
}

.zero {
  grid-area: zero;
}

.point {
  grid-area: point;
}

.equal {
  grid-area: equal;
}

.history .calculator_sciece {
  display: grid;
  position: inherit;
  height: 85vh;
  width: 70vh;
  margin: 50px 450px;
  place-content: center;
  grid-template-columns: 2fr 1.5fr repeat(3, 2fr) 1.5fr;
  grid-template-rows: repeat(7, 1.5fr);
  grid-gap: 0;
  grid-template-areas: "history info title title title setting" "history light result result result back" "history timer clear clear clear divide" "history powDown seven eight nine dubble" "history uploud four five six minus" "history empty one two three plus" "history empty_2 plusMinus zero point equal";
}

/*# sourceMappingURL=style_1.css.map */
